main{
    margin-top: 70px;
}

#computador{
    width: 7rem;
    height: 7rem;

    margin-right: 2rem;
}

#descricao{
    width: 70%;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 5%;
}

#textoDescricao{
    font-size: 20px;
    
    text-align: justify;
}

#setaBaixo{
    width: 2rem;
    height: 2rem;

    display: block;
    margin: auto;

    padding-top: 1rem;

    position: relative;
    animation: apontarParaBaixo 1s ease-in-out infinite;
}

/* Animação da seta */
@keyframes apontarParaBaixo {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}





#investidores{
    margin-top: 40px;
}

#cabecalhoInvestidores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#tituloInvestidores{
    font-size: 40px;
    font-weight: 100;
}

#logoInvestidores{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 50px;

    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.5s, transform 1.5s;
}

.linhaHorizontal{
    width: 30%;
    height: 1px;

    margin: 1rem;

    background-color: #000;
}

.logoInvestidor{
    width: 25%;
}





#principios{
    width: 100%;
    margin-top: 50px;

    background: linear-gradient(61deg, #13405F 30.73%, rgba(19, 64, 95, 0.75) 100%);

    border-radius: 50px 50px 0px 0px;
}

#tituloPrincipios{
    text-transform: uppercase;
    text-align: center;

    padding: 30px;
}





#containerCard{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* flex-wrap: wrap; */

    margin-bottom: 40px;
}

.card{
    width: 15%;
    height: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 20px;
    padding: 15px;
    
    background-color: rgb(255, 255, 255, 10%);

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
    border-radius: 20px;
}

.icone{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    width: 100px;

    margin: auto;

    background-color: #fff;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    border-radius: 10px;
}

.iconeCard{
    height: 80px;
    width: 80px;
}

.cardTitle{
    font-size: 20px;
    text-align: center;

    margin: 25px;
}

.cardText{
    display: block;
    margin: 15px;

    /* text-align: justify; */

}





.divisoria{
    width: 85%;

    display: block;
    margin: auto;
}





#tituloHabilidades{
    /* margin-left: 12%; */
    margin-top: 40px;

    text-transform: uppercase;
    margin-bottom: 40px;
}

#containerHabilidades{
    margin-top: 40px;
    /* margin-left: 5%; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}





#colunaHabilidades{
    display: flex;
    flex-direction: column;
}

.hexagono{
    margin-bottom: 10px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.heximagem{
    width: 70%;
}

.habilidades{
    display: flex;
    flex-direction: row;
    align-items: center;

    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 1.5s, transform 1.5s;
}

#habilidade1{
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 1.5s, transform 1.5s;
}

#habilidade2{
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 1.5s, transform 1.5s;
}

#habilidade3{
    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 1.5s, transform 1.5s;
}

.textoHabilidades{
    margin-left: 10px;
    font-size: 20px;
}

.tracos{
    width: 1px;
    height: 75px;

    margin-left: 39.5px;

    background: #D9D9D9;
}





#tituloPitch{
    font-weight: 300;
    margin-bottom: 5px;

    margin-top: 4cm;
}

/* RESPONSIVIDADE */

/* Mudando o tamanho desse título */
@media(max-width: 1545px){
    #tituloHabilidades{
        font-size: 20px !important;
    }

}

@media(max-width: 1175px){
    #tituloHabilidades{
        font-size: 15px !important;
        margin-bottom: 20px;
    }
}

/* Mudando a direção do container e o título do pitch */
@media(max-width: 1015px){
    #containerHabilidades{
        flex-direction: column;
        margin-left: 10%;
    }

    #tituloPitch{
        margin-top: 5rem;
    }
}

/* Alterando o ttamanho da linha horizontal e a seta para baixo */
@media(max-width: 1040px){
    .linhaHorizontal{
        width: 20%;
    }
}

@media(max-width: 710px){
    .linhaHorizontal{
        display: none;
    }

    #setaBaixo{
        display: none;
    }
}

/* Mudando o tamanho das imagens no card */
@media(max-width: 1425px){
    .card{
        width: 25%;
    }
}

@media(max-width: 800px){
    .icone{
        height: 70px;
        width: 70px;
    }

    .iconeCard{
        height: 40px;
        width: 40px;
    }

    .cardTitle{
        font-size: 17px;
    }
}

/* Alterando a descrição */
@media(max-width: 930px){
    #computador{
        display: none;
    }

    #descricao{
        width: 90%;
    }
}

/* Celular */

@media(max-width: 665px){
    #containerCard{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 60%;
    }

    .icone{
        height: 90px;
        width: 90px;
    }

    .iconeCard{
        height: 70px;
        width: 70px;
    }

    .cardTitle{
        font-size: 20px;
    }
}

@media(max-width: 340px){
    .card{
        height: 12rem;
    }

    .icone{
        height: 60px;
        width: 60px;
    }

    .iconeCard{
        height: 40px;
        width: 40px;
    }

    .cardTitle{
        font-size: 15px;
    }
}

@media(max-width: 445px){
    #textoDescricao{
        font-size: 15px;
    }

    #tituloInvestidores{
        font-size: 30px;
    }
}

#equipe{
    display: flex;
    flex-direction: column;
    padding: 4% 15%;
}

.labelEquipe{
    color: orange;
    font-weight: bold;
    align-self: center;
}

.boxEquipe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
}

.cardEquipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-top: 2rem;
}

.imgEquipe{
    width: 100%;
    height: 40%;
    object-fit: contain;
}

.nomeEquipe{
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 0.3rem;
}

.cargoGestao{
    color: orange;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.1rem;
}
.cargoFront{
    color: #FF7A63;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.1rem;
}
.cargoBack{
    color: #777BB3;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.1rem;
}
.cargoBanco{
    color: #50FFAB;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.1rem;
}
.cargoInfra{
    color: #38BDF8;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.1rem;
}
.cargoMobile{
    color: #A3A3A3;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.1rem;
}


.iconsEquipe{
    display: flex;
    justify-content: space-around;
    gap: 2.5rem;
    padding: 0.5rem;
}

.iconsEquipe img{
    width: 2rem;
    transition: 0.5s all;
}

.iconsEquipe img:hover{
    opacity: 0.5;
}