@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

#fundo{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(25, 25, 25, 60%);

    position: fixed;
    z-index: -1;
    top: 0;

    opacity: 0;

    transition: 0.3s;
}

#modal{
    width: 35%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(255, 255, 255);

    padding-left: 2rem;
    padding-right: 2rem;
    
    z-index: 2;

    border-radius: 10px;
}

#fechaModal{
    align-self: flex-end;

    width: 2rem;
    height: 2rem;

    padding-left: 1px;
    padding-top: 0.2px;

    border: 2px solid #d30000;
    border-radius: 5rem;

    background-color: #fff;

    font-weight: bold;
    font-family: 'rubik', sans-serif;
    font-size: 1rem;
    color: #d30000;

    transition: 0.2s;
}

#pitch{
    width: 100%;
    height: 80%;

    margin-top: 10px;

    border-radius: 10px;
}

#fechaModal:hover{
    background-color: #d30000;
    color: #fff;
}